files:
  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat.autodiscover:
        providers:
          - type: docker
            json.message_key: log # docker json log files always use the "log" key
            templates:
              - condition:
                    not:
                        equals:
                            docker.container.name: "prometheus-node-exporter"
                config:
                  - type: docker
                    fields:
                        environment: prod
                        service_name: api-ml # replace this with your service name
                    fields_under_root: true
                    containers.ids:
                      - "${data.docker.container.id}"
                    json.keys_under_root: true
                    json.add_error_key: false
      processors:
        - add_cloud_metadata: ~
        - add_docker_metadata: ~
      output.elasticsearch:
        hosts: ["https://vpc-prod-dbzvjguscakpaky6dshfkk6ddq.us-west-2.es.amazonaws.com:443"]
commands:
  1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-oss-6.7.2-x86_64.rpm"
    cwd: /home/ec2-user
  2_command:
    command: "rpm -ivh --replacepkgs filebeat-oss-6.7.2-x86_64.rpm"
    cwd: /home/ec2-user
  3_command:
    command: "/etc/init.d/filebeat start"
